/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "breakpoint";

$low-height: (max-height 700px)(orientation portrait);
$pclow-height: max-height 860px;

@font-face {
  font-family: 'europa';
  src: url('../font/Europa-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'europa';
  src: url('../font/Europa-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

html{
	/*background-color: #f4f4f4;*/
	height: 100%;
	@include breakpoint(0px 999px){
	background-color: rgb(255,255,255);
	}
}

body.homepage{
	height: 200%;
}
div.portfolio{
	width: 100%;
	height: 50%;
	@include breakpoint(0px 999px){
		height:auto;
		background-color: #fff !important;
	}
}
div.about{
	width: 100%;
	height: 50%;
	@include breakpoint(0px 999px){
		height:auto;
		background-color: #fff !important;
	}
}
h1{
	font-family: 'europa', sans-serif;
	font-size:30px;
	font-weight: 600;
	text-decoration: none;
	color: #444444;
	text-align: center;
	margin-top:70px;
	margin-bottom: 50px;
	@include breakpoint(0px 500px){
		font-size: 24px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
h2{
	font-family: 'europa', sans-serif;
	font-size:24px;
	font-weight: 300;
	color: white;
	@include breakpoint(0px 500px){
		font-size: 22px;
	}
}
p.content{
	max-width:1000px ;
	width: 80%;
	line-height: 1.6;
	font-family: 'europa', sans-serif;
	font-size:26px;
	font-weight: normal;
	margin: 50px auto;
	color: #919191;
	text-align: center;
		@include breakpoint(0px 500px){
		width: 90%;
		text-align: left;
		margin:0 auto 50px auto;
		font-size: 20px;

	}
}
p.link{
	@include breakpoint(0px 500px){
		text-align: center;
	}
}
img.imgshow{
		@include breakpoint(0px 800px){
			display: none;
	}
}
img.imghide{
	display: none;
		@include breakpoint(0px 800px){
			display: block;
	}
}
p.important{
	background: #D7D7D7;
	padding:40px;
	color: white;
	@include breakpoint(0px 500px){
		padding: 30px 5% 30px 5%;
	}

}



.aboutLink{
	float: right;
	width: 50px;
	margin-top: 40px;
	margin-right: 100px;
	font-family: 'Nunito', sans-serif;
	font-size:25px;
	text-decoration: none;
	color: #9e9e9e;
	&:hover{
		color:#D5D5D5;
		transition: all 0.3s;
   		-webkit-transition: all 0.3s;
	}
}
nav{
	width:100%;
	height: 100px;
	top:0;
	position:fixed;
	z-index:70;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;

	@include breakpoint(600px 999px){
		height: 100px;
		background-color: rgba(255,255,255,0.95);
		}
	@include breakpoint(0px 599px){
		height: 80px;
		background-color: rgba(255,255,255,1);
		}	
		.logosvg{
		height: 80px;
		width: auto;
		z-index: 20;
		margin-left:50%;
		margin-top: 40px;
		transition: all 0.3s ease;
    	-webkit-transition: all 0.3s ease;
		transform: translateX(-50%);
			@include breakpoint(600px 999px){
				height: 80px;
				margin-left: 40px;
				transform: translateX(0%);
				margin-top: 10px;
			}
			@include breakpoint(0px 599px){
				height: 60px;
				margin-left: 20px;
				transform: translateX(0%);
				margin-top: 10px;
			}
		}

		.hamburger{
		float:right;
		margin-top: 50px;
		margin-right: 40px;
		transition: all 0.3s ease;
    	-webkit-transition: all 0.3s ease;
		z-index:70;
			@include breakpoint(600px 999px){
				margin-top: 25px;
				margin-right: 40px;
			}
			@include breakpoint(0px 599px){
				margin-top: 10px;
				margin-right: 20px;
			}
		}
}
.navScroll{
	height: 80px;
	background-color: rgba(255,255,255,0.95);
	.logosvg{
		margin-left: 40px;
		height: 60px;
		margin-top: 10px;
		transform: translateX(0%);
		@include breakpoint(0px 500px){
			margin-left: 20px;
		}
	}
	.hamburger{
		margin-top: 10px;
		margin-right: 40px;
		@include breakpoint(0px 500px){
			margin-right: 20px;
		}
	}

}

.content{
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.menu{
	height:100%;
	width:0px;
	background-color:#100F0F;
	position: fixed;
	float: right;
	top:0;
	right:0;
	overflow:hidden;
	z-index: 50;
	box-shadow: inset -65px 0px 98px -27px #000000;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /*display: none;*/
    /*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 90%);*/
	/*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 90%);*/
	ul{
		margin-top: 100px;
		font-family: 'europa', sans-serif;
		font-size:35px;
		margin-left: 40px;
		@include breakpoint(0 599px){
			font-size:26px;
		}
		@include breakpoint($low-height){
			font-size: 22px;
		}
		@include breakpoint($pclow-height){
			font-size: 22px;
		}
		li{
			transition: all 0.2s;
    		-webkit-transition: all 0.2s;
			color:#fff;
			font-weight: bold;
			padding:5px 0px;
			/*font-style: italic;*/
			@include breakpoint(0 599px){
			padding: 2px;
			}
				&:hover{
					/*color:#333;*/
					/*text-decoration: underline;*/
					box-shadow: inset 0 -50px 0 0 #F9CE21;
				}
			&.category{
				position: relative;
				padding: 30px 0 5px 0;
				font-weight: normal;
				color: #C5C5C5;
				font-size:22px;
				box-shadow: none;
					&:hover{
						text-decoration:none;
						cursor: default;
						box-shadow: none;
						color: white;
					}
					@include breakpoint(0 499px){
						font-size:18px;
					}
					@include breakpoint($low-height){
						font-size: 16px;
					}
					@include breakpoint($pclow-height){
						padding: 10px 0 3px 0;
						font-size: 18px;

					}
			}
		}
	}
}

.opennav{
	width: 400px;
	@include breakpoint(0 999px){
		width: 100%;
	}
}
.moveleft{
	margin-right: 400px;
	@include breakpoint(0 999px){
		margin-right: 100%;
		overflow: hidden;
		height: 100%;
	}
}
div.works{
	width: 1000px;
  	height: 500px;
  	margin: 100px auto;
  	overflow:hidden;
  	padding-top: 30px;
  	/*filter: drop-shadow(0px 0px 5px #b5b5b5);*/
  	/*filter: drop-shadow(4px 4px 5px #b5b5b5);*/

    @include breakpoint(0px 999px){
      	width: 100%;
      	height:1950px;
      	margin: 0px auto 0px auto;
    }
    @include breakpoint(0px 599px){
      	height: 1050px;
    }

  	a{
  		text-decoration: none;
  	}
	div{
		opacity:1;
		transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	/*box-shadow: 4px 4px 5px #434343;*/
    	@include breakpoint(0px 999px){
			opacity:1;

    	}
		&:hover{
			opacity:0.3;
			transform: translate(0,-25px);
			z-index: 999;
			/*filter: blur(3px);*/
			/*filter: saturate(120%);*/
  			/*filter: drop-shadow(0px 0px 5px #b5b5b5);*/
			/*filter:drop-shadow(5px 10px #888888);*/
			transition: all 0.3s;
    		-webkit-transition: all 0.3s;
		}
	}
	.work1 {
	  -webkit-clip-path: polygon(7.6% 68.4%, 1.4% 29.4%, 98% 43.7%);
	  clip-path: polygon(7.6% 68.4%, 1.4% 29.4%, 98% 43.7%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-95px;
	  left: 30px;
	  background: url(../img/pj2.jpg);
      /*background-size: 100% auto;*/
      /*background-position: 0px 100px;*/
      background-size: 130% auto;
	  background-position: 420px 30px;

      @include breakpoint(0px 999px){
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
	 		clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
			top: 0;
			left: 0;
			background-position: center center;
      		background-size: cover;
	  		// background: url(../img/pj1.png);
      }
      @include breakpoint(0px 500px){
      		height: 150px;
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      }

	}
	.work2 {
	  -webkit-clip-path: polygon(13.1% 38%, 54.4% 84.1%, 84.6% 18.5%);
	  clip-path: polygon(13.1% 38%, 54.4% 84.1%, 84.6% 18.5%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:40px;
	  left: -385px;
	  background: url(../img/pj1.jpg);
      background-size: 100% auto;
      background-position: 0px 10px;
      @include breakpoint(0px 999px){
	  		background: url(../img/pj1.jpg);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
	 		clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
			top: -55px;
			left: 0;
			background-position: center center;
      		background-size: cover;
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -40px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -65px;
      }

	}
	.work3 {
	  -webkit-clip-path: polygon(38.6% 19.7%, 25.4% 80.3%, 79.9% 65.7%);
	  clip-path: polygon(38.6% 19.7%, 25.4% 80.3%, 79.9% 65.7%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-280px;
	  left: -95px;
	  background: url(../img/pj3.png);
      background-size: 75% auto;
      background-position: 54px 50px;
            @include breakpoint(0px 999px){
	  		background: url(../img/pj3_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
	 		clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
			top: -110px;
			left: 0;
			background-position: center center;
      		background-size: cover;
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -80px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -130px;
      }

	}
	.work4 {
	  -webkit-clip-path: polygon(49.6% 5%, 19.4% 70.6%, 76.8% 90.7%);
	  clip-path: polygon(49.6% 5%, 19.4% 70.6%, 76.8% 90.7%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-303px;
	  left: -230px;
	  background: url(../img/pj4.png);
      background-size: 90% auto;
      background-position: 30px 20px;
            @include breakpoint(0px 999px){
	  		background: url(../img/pj4_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
	 		clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
			top: -165px;
			left: 0;
			background-position: center center;
      		background-size: cover;
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -120px;
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -195px;
      }
	}
	.work5 {
	  -webkit-clip-path: polygon(14.7% 4.1%, 92.2% 33.8%, 41.8% 89.8%);
	  clip-path: polygon(14.7% 4.1%, 92.2% 33.8%, 41.8% 89.8%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-705px;
	  left: 330px;
	  background: url(../img/pj5.png);
      background-size: 100% auto;
      background-position: 10px 0px;
      @include breakpoint(0px 999px){
	  		background: url(../img/pj5_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
	 		clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
			top: -220px;
			left: 0;
			background-position: center center;
      		background-size: cover;
      }
      @include breakpoint(0px 500px){
      		height: 150px;
      		top: -160px;
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -260px;
      }
	}
	.work6 {
	  -webkit-clip-path: polygon(12.1% 37.2%, 55.7% 23.7%, 89.5% 67%);
	  clip-path: polygon(12.1% 37.2%, 55.7% 23.7%, 89.5% 67%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-850px;
	  left: -55px;
	  background: url(../img/pj6.png);
      background-size: 100% auto;
      background-position: 0px 40px;
            @include breakpoint(0px 999px){
	  		background: url(../img/pj6_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
	 		clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
			top: -275px;
			left: 0;
			background-position: center center;
      		background-size: cover;
	  		// background: url(../img/pj2.png);
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -200px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -325px;
      }
	}
	.work7 {
	  -webkit-clip-path: polygon(12.1% 35.5%, 89.9% 24.1%, 43.9% 75.9%);
	  clip-path: polygon(12.1% 35.5%, 89.9% 24.1%, 43.9% 75.9%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-1300px;
	  left: 543px;
	  background: url(../img/pj7.png);
      background-size: 100% auto;
      background-position: -15px 80px;
      @include breakpoint(0px 999px){
	  		background: url(../img/pj7_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
	 		clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
			top: -330px;
			left: 0;
			background-position: center center;
      		background-size: cover;
	  		// background: url(../img/pj1.png);
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -240px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -390px;
      }
	}
	.work8 {
	  -webkit-clip-path: polygon(10.6% 88.3%, 89.4% 88.4%, 83.1% 7.3%);
	  clip-path: polygon(10.6% 88.3%, 89.4% 88.4%, 83.1% 7.3%);
	  height: 400px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-1100px;
	  left: 70px;
	  background: url(../img/pj8.png);
  	  background-size: 100% auto;
      background-position: -10px 20px;
      @include breakpoint(0px 999px){
	  		background: url(../img/pj8_m.png);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
	 		clip-path: polygon(100% 0%, 0% 25%,0% 75%, 100% 100%);
			top: -385px;
			left: 0;
			background-position: center center;
      		background-size: cover;
	  		// background: url(../img/pj2.png);
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -280px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -455px;
      }
	}
	.work9 {
	  -webkit-clip-path: polygon(57.6% 0.5%, 77.2% 60.5%, 41.4% 95.5%, 35% 23.3%);
	  clip-path: polygon(57.6% 0.5%, 77.2% 60.5%, 41.4% 95.5%, 35% 23.3%);
	  height: 460px;
	  width: 400px;
	  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.25);
	  display: inline-block;
	  position: relative;
	  top:-1595px;
	  left: 682px;
  	  background: url(../img/pj9.png);
  	  background-size: 67% auto;
  	  background-position: 81px 0px;
  	        @include breakpoint(0px 999px){
	  		background: url(../img/pj9_m.jpg);
			width: 100%;
			height: 200px;
	  		-webkit-clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
	 		clip-path: polygon(0% 0%, 100% 25%,100% 75%, 0% 100%);
			top: -440px;
			left: 0;
			background-position: center center;
      		background-size: cover;
      }
      @include breakpoint(0px 500px){
      		height: 150px;
			top: -320px;
      		
      }
      @include breakpoint(700px 999px){
      		height: 250px;
      		top: -520px;
      }
	}

}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fade{
	opacity:0.2 !important;
}
.show{
	transform: translate(0, -25px);
	z-index: 999;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;


}
.p-overview{
	width: 850px;
	height: 740px;
	margin:100px auto 20px auto;
	/*filter: drop-shadow(0px 1px 29px 80px rgba(0,0,0,0.9));*/
	/*filter: drop-shadow(0px 1px 29px rgba(0,0,0,0.5));*/
	filter: drop-shadow(0px 0px 16px #b5b5b5);
	@include breakpoint(0px 999px){
	width: 100%;
	height: 400px;
	}

	div.p-img1{
	  background: url(../img/pj1_h.jpg) no-repeat center center;
	  background-size: 100% auto;
	  background-position: 0px 20px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	@include breakpoint(0px 999px){
      	width: 100%;
      	height:400px;
      	background-size: cover;
      	clip-path: none;
      	-webkit-clip-path:none;
      	display: block;
	  	/*-webkit-clip-path: polygon(0% 0%, 100% 0%,100% 75%, 0% 100%);*/
	 	/*clip-path: polygon(0% 0%, 100% 0%,100% 75%, 0% 100%);*/
	 	background-position: center center;

    }
	  }
	div.p-img2{
	  background: url(../img/pj2_h.png) no-repeat center center;
	  background-size: 100% auto;
	  background-position: 0px 60px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }

	  }
	div.p-img3{
	  background: url(../img/pj3_h.png) no-repeat center center;
	  background-size: 110% auto;
	  background-position: -70px -30px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img4{
	  background: url(../img/pj4_h.png) no-repeat center center;
	  background-size: 100% auto;
	  background-position: 0px 40px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img5{
	  background: url(../img/pj5_h.png) no-repeat center center;
	  background-size: 100% auto;
	  background-position: 0px 105px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img6{
	  background: url(../img/pj6_h.svg) no-repeat center center;
	  background-size: 130% auto;
	  background-position: -190px 20px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img7{
	  background: url(../img/pj7_h.png) no-repeat center center;
	  background-size: 130% auto;
	  background-position: -125px 90px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img8{
	  background: url(../img/pj8_h.png) no-repeat center center;
	  background-size: 105% auto;
	  background-position: -30px 110px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	div.p-img9{
	  background: url(../img/pj9_1.jpg) no-repeat center center;
	  background-size: 105% auto;
	  background-position: 0px 125px;
	  -webkit-clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  clip-path: polygon(0% 15.8%, 100% 45.9%, 25.1% 82.6%);
	  height: 800px;
	  width: 800px;
	  	  	@include breakpoint(0px 999px){

      	width: 100%;

      	height:400px;

      	background-size: cover;

      	clip-path: none;

      	-webkit-clip-path:none;

	 	background-position: center center;

    }
	  }
	}
  .backButton{
  	width: 200px;
  	height: 200px;
  	position: relative;
  	background-color: rgba(0,0,0,0);
  	top:110px;
  	-webkit-clip-path: polygon(0% 0%, 0% 100%,80% 0%);
  	clip-path: polygon(0% 0%, 0% 100%, 80% 0%);
  	transition: all 0.3s;
   	-webkit-transition: all 0.3s;
  	&:hover{
  			background-color: #5D5D5D;
  			transition: all 0.3s;
   			-webkit-transition: all 0.3s;
  		}
  	&:hover .backButtonImg{
  			fill-opacity:1;
  			transition: all 0.3s;
   			-webkit-transition: all 0.3s;
  		}
  	.backButtonImg{
  		width: 40px;
  		position: relative;
  		top:50px;
  		left: 30px;
  		fill-opacity:0.1;
  		transition: all 0.3s;
   		-webkit-transition: all 0.3s;	
   		@include breakpoint(0px 999px){
		  	display: none;

}
  	}
}


div.p-name{
    background-color: #76BE5F;
    -webkit-clip-path: polygon(93.7% 0%, 100% 49.3%, 0% 46%);
    clip-path: polygon(93.7% 0%, 100% 49.3%, 0% 46%);
    height: 500px;
    width: 500px;
    position: relative;
    top: -434px;
    left: 331px;
	@include breakpoint(0px 999px){
	  		/*-webkit-clip-path: polygon(100% 0%,0% 75%, 100% 75%);*/
	 		/*clip-path: polygon(100% 0%,0% 75%, 100% 75%);*/
	 		clip-path: none;
      		display: block;
	 		-webkit-clip-path:none;
	 		width: 100%;
	 		height: 100px;
	 		top:-100px;
	 		left: 0;

}
    h1{
    padding-top: 125px;
    padding-left: 280px;
    font-family: 'europa', sans-serif;
	font-size:30px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	margin: 0 0;
	text-align: left;
	@include breakpoint(0px 999px){
		padding-top: 20px;
		padding-left:0px;
		text-align: center;
	}
	@include breakpoint(0px 500px){
		font-size: 28px
	}
    }
    h2{
    	padding-left: 280px;
    	color: rgba(255,255,255,0.8);
    	@include breakpoint(0px 999px){
		text-align: center;
		padding-left: 0px;
		}
		@include breakpoint(0px 500px){
		font-size: 20px;
	}
    }
}
div.p-sm{
	h1{
		padding-top: 150px;
		padding-left: 240px;
		font-size: 24px;
		@include breakpoint(0px 999px){
			/*padding-left:58%;*/
			text-align: center;
			font-size: 28px;
			padding-top: 20px;
			padding-left: 0px;

		}
		@include breakpoint(0px 500px){
			font-size: 28px;
		}
	}
	h2{
		padding-left: 240px;
		font-size: 20px;
		@include breakpoint(0px 999px){
		padding-left:0px;
		text-align: center;
		}
		@include breakpoint(0px 500px){
			font-size: 18px;
		}
	}


}
div.p-name1{
	background-color: #05080A;
}
div.p-name2{
	background-color: #4D636C;
}
div.p-name3{
	background-color: #AEB69F;
}
div.p-name4{
	background-color: #0F0F0F;
}
div.p-name5{
	background-color: #E3BB6B;
}
div.p-name6{
	background-color: #009671;
}
div.p-name7{
	background-color: #D1D3C1;
}
div.p-name8{
	background-color: #0F0F0F;
}
div.p-name9{
	background-color: #128EEF;
}
.contentImg{
	width: 80%;
	max-width: 1000px;
	  	@include breakpoint(0px 500px){
		width: 90%;

    }
	

}
.contentLongImg{
	width: 40%;
	max-width: 1000px;
	  	@include breakpoint(0px 500px){
		width: 90%;

    }
}
.contentVid{
	width: 80%;
	max-width: 2000px;
		@include breakpoint(0px 500px){
		width: 90%;
		}
}
.mt60{
	margin-top:60px;
}

.iframe{
	height:600px;
	@include breakpoint(0px 500px){
		height: 240px;
    }
}
p.left{
	text-align:left;
}
a{
	text-decoration: none;
}
a>p{
	&:hover{
		color: #1B1B1B;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}
}
a.imagelink{
	width: 80%;
	max-width: 1000px;
	display: inline-block;
}
footer{
	height: 80px;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	
	p{
		font-family: 'Nunito', sans-serif;
		margin:0 auto;
		color: #D1D1D1;
		font-size: 20px;
		font-weight: 300;

	}
}
.about{
	overflow: hidden;
	.aboutContent{
		width: 780px;
		height: 600px;
  		margin-left:auto;
  		margin-right: auto;
 		position: relative;
 		
  		/*border: 1px solid black;*/
		/*filter: drop-shadow(0px 0px 5px #b5b5b5);*/
  		/*filter: drop-shadow(4px 4px 5px #b5b5b5);*/

		@include breakpoint(0px 999px){
      			filter:none;
      			width: 100%;
      			height: auto;
      			margin-top: 0;
      			text-align: center;	
			}
		.aboutImg{
			-webkit-clip-path: polygon(0% 9.6%, 75.4% 100%, 97.5% 0%);
    		clip-path: polygon(0% 9.6%, 75.4% 100%, 97.5% 0%);
    		width: 300px;
    		height: 300px;
    		position: relative;
    		left: 50px;
    		@include breakpoint(0px 999px){
      			clip-path:none;
      			-webkit-clip-path:none;
      			width: 80%;
      			height: auto;
      			left: 0;
						}
		}
		.aboutTexts{
			-webkit-clip-path: polygon(0% 100%, 21.7% 0%, 97.1% 24%);
    		clip-path: polygon(0% 100%, 21.7% 0%, 97.1% 24%);
    		width: 600px;
    		height: 600px;
    		background: #FFFFFF;
    		position: relative;
    		top:-300px;
    		left: 230px;
			@include breakpoint(0px 999px){
      			display: none;
      			
			}
    	}
    	p{
    		display: none;
      		@include breakpoint(0px 999px){
      			display: block;
				text-align: left;
				font-size: 22px;
			}
    	}

	}

	footer{
		margin-top: 300px;
	}

}
.preload{
	width: 100%;
	height: 100%;
	background:#FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	.logoAnimation{
		height: 100px;
		width: 100px;
		position: fixed;
		top: 50%;
  		left: 50%;
  		margin-top: -50px;
  		margin-left: -50px;
		/*transform: translate(-50%,-50%);*/
		animation: rotate 2s infinite ease-in-out;
		-webkit-animation: rotate 2s infinite ease-in-out;
		transform-origin: center;
		
	}
}
@keyframes rotate {
  0% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg)
  } 33% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 66% { 
    transform: perspective(120px) rotateX(0deg) rotateY(360deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg)
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(180deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(180deg)
  }
}
